@use "../utils/" as *;

.index {
    min-height: 50vh;

    @include mobile-only {
        min-height: 85vh;
    }

    width: 90%;
    margin-inline: auto;

    margin-block: 15px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    &__form {
        background-color: var(--semi-transparent-bg);

        border-radius: 15px;

        padding: 10px 20px;
    }


    &__fieldset {
        @include center-flex-column(25px);

        margin-block: 25px;
    }

    &__legend {
        width: 100%;

        margin-bottom: 15px;

        text-align: center;

        font-weight: bold;
        font-size: 24px;
    }

    &__new-card {
        width: 100%;

        & * {
            width: 100%;
        }

        &--image {
            @include center-flex-column(25px);

            &:has(.index__upload-type-container input#upload-type-url:checked) .index__label--image-drop {
                display: none;
            }

            &:has(.index__upload-type-container input#upload-type-drop:checked) .index__label--image-url {
                display: none;
            }
        }
    }

    &__upload-type-container {
        display: flex;
        justify-content: space-evenly;
    }

    &__image-preview-container {
        @include center-flex;

        overflow: hidden;

        position: relative;
        width: 100%;
        min-height: 250px;

        border: 2px dashed currentColor;
        border-radius: 5px;

    }

    &__image-preview-paragraph {
        position: absolute;

        @include single-ellipsis-effect;

        @include absolute-center;

        height: fit-content;
        width: max-content;
    }

    &__image-preview {
        @include fit-image;

        width: 100%;
        height: 250px;
    }

    &__delete-button {
        position: absolute;
        top: 0;
        left: 0;

        width: 15%;
        height: 10%;

        border: 2px solid currentColor;
        border-radius: 5px 0px 5px 0px;

        background-color: var(--color-primary);
        color: var(--bg-primary);
    }

    &__label {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;

        width: 100%;

        &--upload-type {
            @include center-flex(10px);

            width: fit-content;
        }

        &--image-drop {
            @include center-flex;

            @include child-border-radius-simple(15px, 10px);

            border: 2px dashed currentColor;

            background-color: var(--bg-primary);

            min-height: 250px;

            &.active {
                filter: contrast(65%);
                border: 2px solid currentColor;
            }
        }
    }

    &__image {
        //Using a naming convention to tell that it's a private CSS variable 
        --_image-sides: 125px;
        width: var(--_image-sides);
        height: var(--_image-sides);

        filter: invert(0%) hue-rotate(0deg);
    }

    &__input {
        width: inherit;

        @include child-border-radius-simple(15px, 10px);

        background-color: var(--bg-primary);

        padding: 5px;

        &--upload-type {
            width: fit-content;
        }


        &:disabled {
            background-color: var(--disabled-button-bg);
        }
    }

    &__button {
        width: 100%;
        background-color: var(--bg-primary);

        text-align: center;

        padding: 5px;

        margin-bottom: 15px;

        @include child-border-radius-simple(15px, 10px);

        &:hover {
            filter: contrast(85%);
        }

        &:active {
            filter: contrast(65%);
        }
    }

    &__containers {
        touch-action: none;

        @include center-flex(50px);

        @include mobile-only {
            @include center-flex-column(50px);
        }
    }

    &__container {
        background-color: var(--semi-transparent-bg);

        display: flex;
        flex-direction: column;
        gap: 10px;

        min-height: 500px;
        width: 50%;

        @include mobile-only {
            width: 100%;

            min-height: 70px;
        }

        border-radius: var(--container-border-radius);

        padding: var(--padding-container);
    }

    &__draggable {

        &.dragging {
            cursor: grabbing;

            filter: invert(100%) hue-rotate(180deg);
            opacity: 50%;
        }
    }
}