@use "../utils/" as *;

.index {
    min-height: calc(100vh - 35px * 4);

    @include center-flex(50px);

    @include mobile-only {
        @include center-flex-column(50px);
    }

    padding: 50px;

    &__container {
        background-color: var(--semi-transparent-bg);

        display: flex;
        flex-direction: column;
        gap: 10px;

        min-height: 500px;
        width: 50%;

        @include mobile-only {
            width: 100%;
        }

        border-radius: var(--container-border-radius);

        padding: var(--padding-container);
    }

    &__draggable {

        &.dragging {
            cursor: grabbing;

            filter: invert(100%) hue-rotate(180deg);
            opacity: 50%;
        }
    }
}